:root{
  --primary-orange: hsl(25, 97%, 53%);
  --grey500: hsl(217, 12%, 63%);
  --grey900: hsl(213, 19%, 18%);
  --grey900-light: hsl(213, 19%, 23%);
  --grey950: hsl(216, 12%, 8%);
}

#root{
  display: flex;
  align-items: center; 
  height: 100vh;
}

body{
  background: var(--grey950);
  color: var(--grey500);
}
 